<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    function Edit(id) {
      console.log("id:" + id);
      window.location.href = "/userEdits?id=" + id;
    }

    function Delete(id) {
      // var rs = confirm('Confirm to delete?');
      // if (rs) {
      window.location.href = "/userDelete?id=" + id;
      // }
    }

    function paging(page){
      window.location.href = "/userPaging?page=" + page;
    }
  </script>
</head>

<body>
  <h1>Account - List</h1>
  <form action="userDelete" method="post" onSubmit="return Check();">
    <table>
      <tr>
        <th>id</th>
        <th>userid</th>
        <th>password</th>
        <th>email</th>
        <th>img</th>
      </tr>
      <% for ( var i = 0 ; i < data.length ; i++){ %>
        <tr>
          <td>
            <%= data[i].CustomerID  %>
          </td>
          <td>
            <%= data[i].CustomerName  %>
          </td>
          <td>
            <%= data[i].Password  %>
          </td>
          <td>
            <%= data[i].Email  %>
          </td>
          <td>
            <%= data[i].imgName %>
              <img src="data:image/png;base64, <%= data[i].img %>">
          </td>
          <td>
            <input type="button" name="userEdits" value="Edit" onclick="Edit('<%= data[i].CustomerID %>');" />
          </td>
          <td>
            <input type="checkbox" name="deleteID" value="<%= data[i].CustomerID %>" />
          </td>
        </tr>
        <% } %>
    </table>
    <input type='submit' value="確定">
  </form>
  <input type='submit' value='userAdd' onclick="javascript: location.href='userAdd'">
  <% for ( var page = 1 ; page <= 3 ; page++){ %>
    <input type="submit" value="<%= page %>" onclick="paging('<%= page %>');" />
  <% } %>
  <!-- <input type='submit' value='userDelete' onclick="javascript: location.href='userDelete'"> -->
</body>

</html>
