<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form name="editform" action="userEdits" method="post" enctype="multipart/form-data" accept-charset="utf-8" onSubmit="return Check();">
            <h1>Account - Edit</h1>
            <input type="hidden" name="CustomerID" value="<%=data[0].CustomerID  %>" />
            <div class="row">
                <label>userid：</label>
                <input type="text" name="CustomerName" placeholder="username" value="<%=data[0].CustomerName %>" />
            </div>
            <div class="row">
                <label>password：</label>
                <input type="text" name="Password" placeholder="password" value="<%=data[0].Password  %>" />
            </div>
            <div class="row">
                <label>email：</label>
                <input type="text" name="Email" placeholder="email" value="<%=data[0].Email  %>" />
            </div>
            <div class="row">
              <label>img:</label>
              <input type="file" name="img" placeholder="upload img" multiple="multiple" value="<%=data[0].img %>" />
              <img src="data:image/png;base64, <%= data[0].img %>">
            </div>

            <div>
                <input type='submit' value='Submit'>
                <input type='reset' value='Reset'>
                <input type='button' value='Back' onclick="javascript: window.history.back();">
            </div>
    </form>
  </body>
</html>
