<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
      <tr>
        <td>
          <%= data[i].CustomerID  %>
        </td>
        <td>
          <%= data[i].CustomerName  %>
        </td>
        <td>
          <%= data[i].Password  %>
        </td>
        <td>
          <%= data[i].Email  %>
        </td>
        <td>
          <%= data[i].imgName %>
            <img src="data:image/png;base64, <%= data[i].img %>">
        </td>
    <% } %>
  </table>
  </body>
</html>
